# .gitattributes
/docs          export-ignore
/tests         export-ignore
/.editorconfig export-ignore
/.travis.yml   export-ignore
/mkdocs.yml    export-ignore
/tests.xml     export-ignore

# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf
